@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #030027;
}

header{
  color: white;
  text-align: center;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 30px;
  margin-bottom: 0
}

.main{
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.movieBlock{
  height: 600px;
  width: 400px;
  box-sizing: border-box;
}


@media screen and (min-width: 1400px) {
  [data-side="left"]{
    margin-left: 70px;
  }
  
  [data-side="right"]{
    margin-right: 70px;
  }
}

.mainMessage{
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: rgba(255, 255, 255, 0.583);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}


.actorsMatched{
  height: 600px;
  overflow: scroll;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .main{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .actorsMatched{
    margin-bottom: 30px;
  }
}

.matchButton{
  width: 200px;
  height: 70px;
  background-color: #9C278D;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 30px;
}